.Home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow-x: hidden;
}

.Avatar {
    border: 2px solid grey;
    transition: transform 0.3s;
}

.Avatar:hover {
    transform: scale3d( 1.1, 1.1, 1 );
}
